.preload {
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 99999;
}
.preload-frog{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 32px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
	100% { -webkit-transform:rotate(360deg); }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}